<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logoName</key>
		<string>logo1</string>
		<key>title</key>
		<string>первый</string>
		<key>description</key>
		<string>test object</string>
		<key>percentage</key>
		<integer>95</integer>
		<key>color</key>
		<string>FF8178</string>
	</dict>
	<dict>
		<key>logoName</key>
		<string>logo1</string>
		<key>title</key>
		<string>второй</string>
		<key>description</key>
		<string>Карл у Клары украл кораллы, а Клара у Карла украла кларнет</string>
		<key>percentage</key>
		<integer>35</integer>
		<key>color</key>
		<string>06CE00</string>
	</dict>
	<dict>
		<key>logoName</key>
		<string>logo1</string>
		<key>title</key>
		<string>третий</string>
		<key>description</key>
		<string>goes right</string>
		<key>percentage</key>
		<integer>64</integer>
		<key>color</key>
		<string>7632D3</string>
	</dict>
	<dict>
		<key>logoName</key>
		<string>logo1</string>
		<key>title</key>
		<string>четвертый</string>
		<key>description</key>
		<string>goes right</string>
		<key>percentage</key>
		<integer>70</integer>
		<key>color</key>
		<string>37BEE7</string>
	</dict>
</array>
</plist>
